* {
    margin: 0px;
    padding: 0px;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.innerContainer{
    width: 50%;
    height: 100%;
}

.formStyle {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formInnerStyle{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}